<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <action id="tech.tanay.freemind.pkexec">
    <description>Run Free Mind as root</description>
    <message>Free Mind needs to run as root to function. Authentication is required to run Free Mind with root privileges</message>
    <icon_name>free-mind</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/freemind</annotate>
  </action>
</policyconfig>
